

.FundoBarra{
    -fx-background-color: #70a8c9
}

.btn_barra_prin{
    -fx-background-color: #2caaff;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.btn_barra_prin:hover{
    -fx-background-color: #748370
}

.btn_cliente_fisico{
    -fx-background-image: url(../img48/cad_cliente_fisico48.png);
    -fx-pref-width: 48px; 
}

.btn_cliente_juridico{
    -fx-background-image: url(../img48/cad_cliente_fisico48.png);
}


