

.FundoBarra{
    -fx-background-color: #70a8c9
}

.btn_barra_principal{
    -fx-pref-height: 54px;
    -fx-pref-width: 54px; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.btn_barra_principal:hover{
    -fx-background-color: white;
}

#btn_cliente_fisico{
    -fx-background-image: url(../img48/cad_cliente_fisico48.png);
}

#btn_cliente_juridico{
    -fx-background-image: url(../img48/cad_cliente_juridico48.png);
}


